<!DOCTYPE html>
<html>
    <head>
        <title>ChatRoom</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles1.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    </head>
    <body>
        <div class="container">
            <div class="inner-cont">
                <div class="sidebar">
                    <div class="sidecont">
                        <span class = "chat-head">Users Online</span>
                        <form action="#">
                            <input type="text" placeholder="🔎Search" class="Search"> 
                        </form>
                       
                        <div class="chats">
                            <div class='chat1 using'><i class='uil uil-user'></i><span>dcv</span></div>
                        </div>
             
                    </div>
                </div>
                <div class="main-chat">
                    <div class="header">
                        <span style="padding:20px">Chat Room1</span>
                    </div>
                    <div class="main">
                        
                    </div>
                    <div class="footer">
                        <form class="type-here" id="chatting" action="">
                            <input id="message" class="type"type="text" placeholder="Type here">
                            <i class="uil uil-paperclip"style="font-size:larger"><input type="file" name="send-file" id="userfile"></i>
                            <button style="background: none; border:0" type="submit"><i class="uil uil-message" style="font-size: larger" ></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script>
            var user="<%=usern%>";
        </script>
        <script>
            socket=io();
            socket.emit("new-user",user);
            socket.on("add-user",(onlineusr)=>{
                var out="";
                for (var i=0;i<onlineusr.length;i++){
                    out+=`<div class='chat1 using'><i class='uil uil-user'></i><span>${onlineusr[i]}</span></div>`
                }
                var users=document.getElementsByClassName("chats")[0].innerHTML=out;
            });
           
                document.getElementById("chatting").addEventListener('submit', function(e) {
                    e.preventDefault();
                    if (document.getElementById("message").value) {
                      socket.emit('send-msg', {username:user,message:document.getElementById("message").value});
                      document.getElementById("message").value = '';
                    }
                  });
            socket.emit("send-prev-msg");
            socket.on("rec-prev-msg",(msgArray)=>{
                var chats=document.getElementsByClassName("main")[0];
                let out3="";
                for(var i=0;i<msgArray.length;i++){
                    
                        out3+=(`<div class="sender-message"> <div class="sender-msg sb2"><div><span class="sendername">${msgArray[i].username}</span></div><div><p class="sender-text">${msgArray[i].message}</p></div><div><span class="sender-time">20:11</span></div></div></div>`)
                    

                }
                chats.innerHTML=out3;
                chats.scrollTo(0, chats.scrollHeight);


            })
            socket.on("new-msg",(chatUser)=>{
                var chats=document.getElementsByClassName("main")[0];
                let out2="";
                for(var i=0;i<chatUser.length;i++){
                    if(chatUser[i].username===user){
                        out2+=(`<div class="user-message"><div class="user-msg sb1"><div><span class="username">${user}</span></div><div><p class="user-text">${chatUser[i].message}</p></div><div><span class="user-time">20:08</span></div></div></div>`)
                    }
                    else{
                        out2+=(`<div class="sender-message"> <div class="sender-msg sb2"><div><span class="sendername">${chatUser[i].username}</span></div><div><p class="sender-text">${chatUser[i].message}</p></div><div><span class="sender-time">20:11</span></div></div></div>`)
                    }

                }
                chats.innerHTML=out2;
                chats.scrollTo(0, chats.scrollHeight);


            });
            
          
          
        </script>
    </body>
</html>