<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="dash_style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <navbar class="nav">
        <ul>
            <li class="back"><i class="uil uil-angle-left-b"></i>Back</li>
            <li class="nav_update"><button class="nav_button">Update profile</button></li>
            <li class="nav_signout"><button class="nav_button">Sign out</button></li>
        </ul>
    </navbar>
    <div class="dash">
        <div class="sidebar">
            <div class="profile">
                <img src="user.webp" alt="" id="profile_pic">
                <input type="file" id="file">
                <label for="file" id="choose_photo">Choose photo</label>
            </div>
            <div class="info">
                <span class="username">apuravgoel</span>
                <span class="actual">Apurav Goel</span>
            </div>
        </div>
        <div class="mainbar">
            <div class="mainbar-content">
                <h1>Welcome!    <span style="color:grey">apuravgoel</span></h1>
                <div class="rooms">
                    <div class="rooms-content">
                        <h2>Rooms</h2>
                        <form>
                            <input type="button" value="Create Room" class="btn" id="create_btn">
                            <input type="button" value="Join Room" class="btn" id = "join_btn">
                        </form>
                        <div id="room-popup">
                            <form>
                                <label for="room-user">Username : </label>
                                <br>
                                <input type="text" value="apuravgoel" size="30" id="room-user" readonly>
                                <br>
                                <label for="room-option" id="room-label">Choose Room : </label>
                                <br>
                                <div id="room-option-div">
                                    <select id="room-option">
                                        <option selected>None</option>
                                        <option>Chat Room</option>
                                        <option>Video Room</option>
                                    </select>
                                </div>
                                <input type="submit" style="margin-top:5px; border-color:grey">
                            </form>
                        </div>
                        <div class="room-joined">
                            <h3>Rooms Joined</h3>
                            <ul>
                                <li>dskfj</li>
                                <li>dskfj</li>
                                <li>dskfj</li>
                                <li>dskfj</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="files">
                    <div class="files-content">
                        <h2>Files</h2>
                        <form>
                            <input type="button" value="Send File" class="btn" id="send_btn">
                        </form>
                        <div id="send-popup">
                            <form>
                                <label for="send-user">Username : </label>
                                <br>
                                <input type="text"  placeholder="Enter username"size="30" id="send-user">
                                <br>
                                <label for="room-option" id="room-label">Choose File : </label>
                                <br>
                                <input type="file" style="border:none">
                                <br>
                                <input type="submit" style="margin-top:5px; border-color:grey">
                            </form>
                        </div>
                        <div class="room-joined">
                            <h3>Files Received</h3>
                            <ul>
                                <li>dskfj</li>
                                <li>dskfj</li>
                                <li>dskfj</li>
                                <li>dskfj</li>
                            </ul>
                            <h3>Files Sent</h3>
                            <ul>
                                <li>dskfj</li>
                                <li>dskfj</li>
                                <li>dskfj</li>
                                <li>dskfj</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="dash_script.js"></script>
</body>

</html>