<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <div class="main">
        <div style="text-align:center;margin-bottom:10px"><img style="height:180px; width: 180px;"src="chat-app-icon-24.jpg"><h1 style="color:white">Ujjawal Modern Chat wallah</h1></div>
        <div class="container">
            <div style="font-weight: darker" class="Login-tit"><b>Sign Up</b></div>

            <form action="#">
                <div class="input-field">
                    <i class="uil uil-user" style="font-size:20px"></i>
                    <input class="email" type="text" placeholder="Enter username" required>
                </div>
                <div class="input-field">
                    <i class="uil uil-edit" style="font-size:20px"></i>
                    <input class="email" type="text" placeholder="Enter actual name" required>
                </div>
                <div class="input-field">
                    <i class="uil uil-envelope-alt" style="font-size:20px"></i>
                    <input class="email" type="text" placeholder="Enter email" required>
                </div>
                <div class="input-field">
                    <i class="uil uil-lock" style="font-size:20px"></i>
                    <input id="password" type="password" placeholder="Enter password" required>
                    <i class="uil uil-eye-slash" id="show" style="font-size:20px"></i>
                </div>
            </form>
            <div class="registered">
                <span>Already registerd?</span>
                <a href="#">Login</a>
            </div>
            <div class="button-div">
                <input type="button" class="Signup-btn"value="Sign Up">
            </div>
        </div>

    </div>
    <script src="./signup.js"></script>
</body>

</html>