<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="./update.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="form">
        <div class="left">
            <div class="profile">
                <img src="user.webp" alt="" id="profile_pic">
                <input type="file" id="file">
                <label for="file" id="choose_photo">Choose photo</label>
            </div>
            <span class="change">Change photo</span>
            <div class="info">
                <span class="username">apuravgoel</span>
                <span class="actual">Apurav Goel</span>
            </div>
        </div>
        <div class="right">
            <div class="update_form">
                <span>Update Profile</span>
                <form action="#">
                    <h3>Change username</h3>
                    <label for="username">Enter username :</label>
                    <br>
                    <input type="text" value="apuravgoel" id="username" placeholder="Enter your username" size="30">
                    <br>
                    <h3>Change Password</h3>
                    <label for="old-pass">Enter Old Password : </label>
                    <br>
                    <input type="password" placeholder="Old Password" size="30" id="old-pass">
                    <i class="uil uil-eye-slash" id="old"></i>
                    <br>
                    <label for="new-pass">Enter New Password : </label>
                    <br>
                    <input type="password" placeholder="New Password" size="30" id="new-pass">
                    <i class="uil uil-eye-slash" id="new"></i>
                    <input type="button" value="Confirm" id="submit">
                    <h3>Other details</h3>
                    <label for="actual-name">Actual Name :</label>
                    <br>
                    <input type="text" size="30" id="actual-name" value="Apurav Goel" readonly>
                    <br>
                    <label for="email">Email : </label>
                    <br>
                    <input type="text" value="apuravgoel@gmail.com" size="30" id="email" readonly>
                </form>
            </div>
        </div>
    </div>
    <script src="./update.js"></script>
</body>
</html>