@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
html, body {
  height: 100%;
  width: 100%;
  background-color: #14C38E;
  display:flex;
  justify-content: center;
  align-items: center;
}
.main{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.container{
  position: relative;
  max-width: 400px;
  width:100%;
  background-color: white;
  padding: 30px;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
  border-radius: 10px;
}
.input-field{
  margin: 20px 0px;
  display:flex;
  border-bottom: 2px solid grey;
}

.Login-tit{
  font-weight:darker;
  font-size: 25px;
}
.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 20px solid white;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  border-bottom: 20px solid transparent;
  border-end-start-radius: 6px;
  bottom: -20px;
  left: 0px;
}
.email{
  width:90%;
  height:100%;
  padding:5px;
  font-size:15px;
  border:none;
  outline:none;
  transform:translateY(3px);
}
.password{
  width:90%;
  height:100%;
  padding:5px;
  font-size:15px;
  border:none;
  outline:none;
  transform:translateY(3px);
}
.check{
  position:relative;
  display:flex;
}
.forgot{
  position: absolute;
  right:0px;
  text-decoration: none;
  font-size:15px;
}
.forgot:hover{
  text-decoration: underline;
}
.log-btn{
  margin:auto;
  margin-top: 20px;
  padding: 10px 150px;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  border:none;
  background-color: #68B984;
/*   background-color: #CEEDC7; */
}
.log-btn:hover{
  background-color: #b0e5a4;
}
.or{
 position: relative;
 display:flex;
 align-items: center;
 justify-content: center;
 top: -20px;
 margin: auto;
 z-index: 9;
 background-color: white;
 width: 50px;
}
.ggl-btn{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 20px;
}
.google{
  padding: 10px 60px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 6px;
  border: none;
}
.ggl-img{
  height:20px;
  width:20px;
  padding : 0px 10px;
}